<!doctype html>
<html lang="en">
  <head>
  	<style>
 a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
.footer {
   margin: auto;
  width: 50%;
  padding: 20px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
}
</style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Bank of Blood</title>
  </head>
  <body>
    <img src="/media/blood.jpg" style="height: 70px;width:70px;" align="left">
    <strong style="font-size: 50px">Bank of Blood</strong>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'search' %}">bankofblood.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                   <a class="nav-link" href="{% url 'search' %}">Search Donors</a>
                </li>

                <li class="nav-item active">
                   <a class="nav-link" href="{% url 'register' %}">Register Now</a>
                </li>


                <li class="nav-item active">
                   <a class="nav-link" href="{% url 'request' %}">Request</a>
                </li>


                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>


                <li class="nav-item active">
                   <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                </li>

            </ul>
      </div>
    </nav>

    <!--Search block starts here-->
  <div style="margin:20px;">
<form action="find" method="post">
	
	{% csrf_token %}

  <div class="jumbotron" style="background-color: tomato;margin-top: 30px;">
  	<h1 class="display-4" style="color: white">Search For Donors</h1>
  	<hr class="my-4" style="color: white">

    <div class="sidebar" style="width: 340px;">
        <h5 style="float: left; color: white ">Blood Group</h5>
  		<h5 style="float: right; color: white">City</h5>
    </div>

 	<select class="custom-select" style="width: 300px;height: 40px;margin-right: 10px" name='blood_group'>
 	  <option selected>select</option>
	 				<option value="A+">A+</option>
					<option value="B+">B+</option>
					<option value="A-">A-</option>
					<option value="B-">B-</option>
					<option value="O+">O+</option>
					<option value="O-">O-</option>
	  			<option value="AB+">AB+</option>
		   		<option value="AB-">AB-</option>
	</select>

	<select class="custom-select" style="margin-right: 10px; width: 300px;height: 40px;" name='city'>
                <option selected>select</option>
                <option value="MALEGAON">MALEGAON</option>
                <option value="Nanded">Nanded</option>
                <option value="Amravati">Amravati</option>
                <option value="Aurangabad">Aurangabad</option>
                <option value="Akola">Akola</option>
                <option value="NASHIK">NASHIK</option>
                <option value="JALGAON">JALGAON</option>
                <option value="NAGAR">NAGAR</option>
                <option value="KANOHA">KANOHA</option>
	</select>

   <input type="submit" value="Search" style=" width: 150px" class="btn btn-dark" >

    <br>
	<div class="form-check" style="margin-top:10px;">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" Required>
      <label class="form-check-label" for="defaultCheck1">
  	  <p style="color: white">I have read and agree to abide by the <a href="http://127.0.0.1:8000/terms">terms and conditions</a></p>    
	  </label>
  
	</div>

    </form>

  </div>




    <!--block start here-->

    	<div class="jumbotron" style="background-color: tomato">
  <h1  class="display-4" style="color: white">Hey , You !</h1>
  <p class="lead" style="color: white">Blood is the most precious gift that anyone can give to another person,the gift of life.</p>
  <hr class="my-4" style="color: white">
  <p style="color: white">A decision to donate your blood can save a life, or even several if your blood is separated into its components
   — red cells, platelets and plasma — which can be used individually for patients with specific conditions. So Register and be a Donor. </p>

  <a  href="http://127.0.0.1:8000/register"><button type="button"  class="btn btn-dark">Register Now</button></a>
  

</div>

</div>
    <!--footer starts here-->
    <div class="footer">
  	 <a href="{% url 'search' %}">Search Donors-</a> 	
  	 <a href="{% url 'register' %}">Register as Donor-</a>
  	 <a href="{% url 'request' %}">Request Blood-</a>
     <a href="{% url 'about' %}">About us-</a>
  	 <a href="{% url 'terms' %}">Terms and Conditions</a>
  	 <p>Project by <b>Darshan</b> .No rights reserved © 2019</p>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>